// 色值
$main-color: #f78326;
$white: #ffffff;
$black: #000000;

.m-40 {
  margin: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.p-40 {
  padding: 40px;
}

.center-layout {
  width: 90%;
}

// layout
%main-layout {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
}

%flex-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

#main-content {
  @extend %main-layout;
}
